@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - My MarketPlace</title>
</head>
<style>
body 
{
    background-image: url("/images/atlas-wall.png");
    -webkit-backdrop-filter: blur(55px);
    background-position: auto;
    
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;
}
header
{
    color: white;
    background-color: transparent;
    backdrop-filter: blur(12px);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid #5D5D5D;
}
.catalogBtnHeader
{
    color: black;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Arial';
    background: whitesmoke;
    border: none;
    border-radius: 5px;
    width: 110px;
    height: 32px;
    left: 440px;
    top: 41.5px;
    position: absolute;
    z-index: 0;
    cursor: pointer;
}
.catalogBtnHeader:hover
{
    background: #BDBDBD;
    transition: background-color 0.3s ease;
}
.searchInputHeader
{
    color: black;
    font-size: 22px;
    font-family: 'consolas';
    background: whitesmoke;
    border: none;
    border-radius: 5px;
    width: 920px;
    height: 30px;
    left: 600px;
    top: 41.5px;
    position: absolute;
    z-index: 0;
}
.searchBtnHeader
{
    color: black;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Arial';
    background: whitesmoke;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 32px;
    left: 1530px;
    top: 41.5px;
    position: absolute;
    z-index: 0;
    cursor: pointer;
}
.searchBtnHeader:hover
{
    background: #BDBDBD;
    transition: background-color 0.3s ease;
}
.sidebarLeftSide
{
    font-family: 'Calisto MT';
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: white;
    padding-top: 20px;
    text-align: center;
    border-right: 1px solid grey;
    top: 112px;
    left: 0;
    overflow-y: auto;
    z-index: 1;
}
.sidebarLeftSide button 
{
    padding: 15px 15px;
    text-decoration: none;
    font-size: 14px;
    color: grey;
    font-weight: bold;
    display: block;
    width: 100%;
    height: 40px;
    text-align: left;
    border: none;
    background: none;
}
.activeSideBtn
{
    cursor: pointer;
}
.activeSideBtn:hover
{
    color: #555555;
    transition: color 0.3s ease;
}
.nonactiveSideBtn
{
    cursor: not-allowed;
}
.nonactiveSideBtn:hover
{
    color: #999999;
    transition: color 0.3s ease;
}
.userImg
{
    cursor: pointer;
}
.userImg:hover
{
    background: #8b8b8b4b;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}
.cartImg
{
    cursor: pointer;
}
.cartImg:hover
{
    background: #8b8b8b4b;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}
section
{
    position: relative;
    max-width: 400px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(55px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    margin-top: 250px;
    margin-left: 37%;
}
.inputbox input
{
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon
{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2rem;
    top: 20px;
}
.forget
{
    margin: 35px 0;
    font-size: 0.85rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
h1
{
    font-size: 2rem;
    color: #fff;
    text-align: center;
}
.inputbox
{
    position: relative;
    margin: 30px 0;
    max-width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label
{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}
input:focus ~ label, input:valid ~ label
{
    top: -5px;
}
.forget label
{
    display: flex;
    align-items: center;
}
.forget label input
{
    margin-right: 3px;
}
.forget a
{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.forget a:hover
{
    text-decoration: underline;
}
button
{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
}
button:hover
{
    background-color: rgb(255, 255, 255, 0.5);
}
.register
{
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a
{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover 
{
    text-decoration: underline;
}
footer
{
    font-family: monospace;
    font-size: 22px;
    color: white;
    background: #1D1D1D;
    position: absolute;
    display: flex;
    width: 100%;
    right: 0.5px;
    height: 250px;
    bottom: -350px;
    z-index: 1;
    text-align: center;
    justify-content: center;
    flex-direction: row;   
    justify-content: space-around;         
    align-items: center;
}
.footerLink
{
    bottom: 30px;
    position: absolute;
    color: white;
}
.footerLink:hover
{
    cursor: pointer;
    border-bottom: 1px solid grey;
}
</style>
<body>
    <!-- header -->
    <header>
        <a style="display: flex;">
            <a href="@Url.Action("Index", "Home")">
                <img style="left: 1px; margin-left: 30px; width: 5%; height: 5%;" src="~/images/logoMainTitle.png" alt="logoTitle">
            </a>
            <a href="@Url.Action("UserEnter", "Home")">
                <img class="userImg" style="filter:invert(100%); position: absolute; margin-right: 190px; top: 35px; right: 1px; width: 2%;" src="~/images/user.png" alt="userImg">
            </a>
            <img class="cartImg" style="filter:invert(100%); position: absolute; margin-right: 105px; top: 35px; right: 1px; width: 2%;" src="~/images/shopping-cart.png" alt="userImg">
            <p style="position: absolute; top: 1px; left: 135px; margin-left: 30px; font-size: 32px; font-weight: bold; font-family: 'Lucida Sans Unicode';">My MarketPlace</p>
        </a>
        <button class="catalogBtnHeader">Каталог</button>
        <input class="searchInputHeader" type="text">
        <button class="searchBtnHeader">Пошук</button>
        <!-- <h1 style="left: 1px; margin-left: 30px; font-family: 'Lucida Sans Unicode';">My MarketPlace</h1> -->
    </header>
    <!-- Main Info -->
    <section>
        <form>
            <h1>Вхід</h1>
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="email" required>
                <label for="">Пошта</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" required>
                <label for="">Пароль</label>
            </div>
            <div class="forget">
                <label for=""><input type="checkbox">Запам'ятати</label>
                <a href="@Url.Action("ForgetPassword", "Home")">Забули пароль?</a>
            </div>
            <button>Увійти</button>
            <div class="register">
                <p>Вперше тут? <a href="@Url.Action("RegisterUser", "Home")">Зареєструватися</a></p>
            </div>
        </form>
    </section>
    <!-- footer -->
    <footer>
        <p>© 2024–2024 Інтернет-магазин <br> «My MarketPlace™»</p>
        <a href="@Url.Action("Privacy", "Home")" class="footerLink">Privacy Policy & Terms of Use</a>
        <p>
            ТМ використовується на підставі <br> ліцензії правовласника Oleksandr <br>
            All rights reserved.
        </p>
    </footer>
</body>
</html>